<div *ngIf="cart && cart.items.length; else emptyCart" class="card">
  <div class="card-header text-dark">
    <i class="fa fa-shopping-cart mr-3"></i>Shopping Cart
    <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <app-cart-item *ngFor="let item of cart.items" [item]="item"></app-cart-item>
  </div>
  <div class="card-footer">
    <div class="float-right">
      <a class="btn btn-success" routerLink="/members/customer/checkout">Checkout</a>
    </div>
    <div class="float-left">
      Total Price
      <br>
      <b>$50.00</b>
    </div>
  </div>
</div>
<ng-template #emptyCart>
  <app-message [message]="'Your cart is empty'" [type]="'info'" [dismissible]="false"></app-message>
</ng-template>
