<div class="row">
  <div class="col-sm-2 text-center">
    <app-picture [src]="item.product.picture" [class]="'w-100'"></app-picture>
  </div>
  <div class="col-sm-4">
    <h4 class="product-name">
      <strong>{{ item.product.name | ucwords }}</strong>
    </h4>
    <h4>
      <small class="text-muted">{{ item.product.category.name | ucwords }}</small>
    </h4>
  </div>
  <div class="col-sm-6 text-center row">
    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
      <h6>
        <strong>{{ item.price | currency:'USD' }}</strong>
      </h6>
    </div>
    <div class="col-4 col-sm-4 col-md-4">
      <div class="quantity">
        <input class="form-control" [value]="item.amount" max="99" min="1" step="1" title="Qty" type="number" value="1">
      </div>
    </div>
    <div class="col-2 col-sm-2 col-md-2 text-right">
      <button class="btn btn-outline-danger btn-xs" type="button">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <hr>
</div>
