<div *ngIf="authService?.userData.role === 'customer'; else admin">
  <div class="text-center">
    <button class="btn btn-primary btn-block mb-5 btn-lg" routerLink="/members/customer/products">
    <span *ngIf="cartService?.isCart">Resume Shopping</span>
    <span *ngIf="!cartService?.isCart">Start Shopping</span>
    </button>
  </div>
</div>
<ng-template #admin>
  <div class="text-center">
    <button class="btn btn-primary btn-block mb-5 btn-lg" routerLink="/members/admin/products">Products</button>
  </div>
</ng-template>
