<div *ngIf="!orderService?.needToConfirm" class="row">
  <div class="col-md-6">
    <app-cart [cart]="cartService?.cart" [isOrder]="true"></app-cart>
  </div>
  <div class="col-md-6">
    <app-order-form></app-order-form>
  </div>
</div>

<div *ngIf="orderService?.needToConfirm" class="row justify-content-center">
  <div class="col-md-6">
    <div class="card text-center">
      <div class="card-body">
        <h2 class="card-title mb-5">Your purchase was successful</h2>
        <h4 class="card-subtitle mb-5 text-muted">To download the receipt click <a [href]="downloadRecipe + '/' + orderService.recipe">here</a></h4>
        <button class="btn btn-lg btn-success" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </div>
</div>
